# VS Code specific
.vscode/
.gitconfig
.DS_Store

# Operating System files
Thumbs.db
desktop.ini

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
package-lock.json
yarn.lock

# Local configuration
.eslintcache

# Test results
coverage/
test-results/

# IDE specific
*.sublime-project
*.sublime-workspace

# Distribution files
dist/
build/

# Miscellaneous
*.sass
*.scss
*.less
*.map
